<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="DBName" value="MWRDATA" />
    <add key="DBService" value="127.0.0.1" />
    <add key="DBUser" value="root" />
    <add key="DBPassword" value="/94dTLB68wkUqTRJasVIdg==" />
    <add key="DBPort" value="3306" />
    <add key="Key" value="pMwrdbWORD" />
  </appSettings>
    <system.web>
       
      
      
       <compilation debug="true" targetFramework="4.0" />
      <httpRuntime  requestValidationMode="2.0" maxRequestLength="2097151" executionTimeout="360" />
    </system.web>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script" />

      <staticContent>
        <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      </staticContent>
    </system.webServer>

</configuration>
